.download {
  display: flex;
  min-height: auto;
  padding: 4.5rem 0;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  width: 100vw;
}

.forKidsDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
}

.forKidsDescription > p:nth-child(1) {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
}

.forKidsDescription > p:nth-child(2) {
  font-size: 25px;
  color: white;
  margin-top: 2px;
}

.phoneImage2 {
  position: relative;
  width: 95%;
}

.downloadPhoneImage2 {
  position: relative;
  width: 38%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .download {
    flex-direction: column-reverse;
    align-items: center;
  }

  .forKidsDescription {
    width: 80%;
    align-items: center;
    text-align: center;
  }

  .forKidsDescription > p:nth-child(1) {
    font-size: 32px;
  }

  .forKidsDescription > p:nth-child(2) {
    font-size: 18px;
  }

  .downloadPhoneImage2 {
    width: 80%;
    margin-top: 50px;
  }
}
