.loginPage {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: red;
  padding: 0;
  margin: 0;
}
.heroPage {
  width: 100%;
  height: 100%;
  background-color: red;
  background-image: url("/src/assets/images/bg.jpg");
}

.opacityBackground {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbarContainer {
  max-width: calc(83.33333333333334% - 6rem);
  position: relative;
  width: inherit;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.navbar {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  flex-wrap: wrap;
  height: 48px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: auto;
  flex: 0 0 calc(33.333333333333336% - 1rem);
  margin-top: 5px;
}

.logo1 {
  width: 9.25rem;
  height: 2.5rem;
  color: rgb(229, 9, 20);
  fill: currentColor;
  display: block;
}

.navbarLeft {
  width: auto;
  height: 100%;
  display: inline-flex;
  flex: 0 0 calc(66.66666666666667% - 1rem);
  flex-wrap: wrap;
  padding: 0;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.languageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(107, 106, 106);
  border-radius: 4px;
  background: transparent;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 25px;
  padding-bottom: 6px;
  padding-top: 6px;
  animation: animation-14hycbg;
  font-weight: 400;
  font-size: 1rem;
  line-height: 13px;
}

.languageIcon {
  filter: invert(1);
  margin-right: 10px;
}

.listIcon {
  filter: invert(1);
  margin-left: 10px;
}

.signinButtonLink {
  background-color: rgb(229, 9, 20);
  text-decoration: none;
  padding-left: 17px;
  font-size: 14px;
  color: white;
  letter-spacing: normal;
  padding-right: 17px;
  font-weight: 500;
  display: flex;
  padding-top: 7px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.heroDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 175px;
  margin-bottom: 180px;
}

.heroDescription > h1 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 15px;
}

.heroDescription > p:nth-child(2) {
  font-size: 25px;
  margin-bottom: 24px;
}

.heroDescription > p:nth-child(3) {
  font-size: 20px;
  margin-bottom: 15px;
}

.emailSubmit {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.emailSubmit > input {
  min-height: 16px;
  font-size: 16px;
  border-style: none;
  color: white;
  border: 1px solid white;
  min-width: 16px;
  border-radius: 4px;
  background: rgba(22, 22, 22, 0.7);
  border-color: rgba(128, 128, 128, 0.7);
  padding: 14px 130px 14px 26px;
}

.startedButton {
  padding: 14px 29px 14px 28px;
  background-color: rgb(229, 9, 20);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 24px;
}

@media only screen and (max-width: 768px) {
  .heroDescription {
    margin-bottom: 40px;
  }

  .navbarContainer {
    max-width: calc(115.333333% - 6rem);
    padding: 0;
  }

  p.languageName {
    display: none;
  }

  .navbar {
    padding-top: 20px;
  }

  .listIcon {
    margin-left: 0;
  }

  .logo1 {
    width: 90px;
    height: 24px;
  }

  .heroDescription {
    text-align: center;
    width: 80%;
    margin-top: 80px;
  }
  .heroDescription > h1 {
    font-size: 32px;
  }

  .heroDescription > p:nth-child(1),
  .heroDescription > p:nth-child(2) {
    font-size: 18px;
  }

  .emailSubmit {
    flex-direction: column;
    align-items: center;
  }

  .emailSubmit > input {
    padding: 15px 75px 15px 10px;
    width: 40%;
    margin-bottom: 15px;
  }

  .startedButton {
    font-size: 18px;
  }
}
