.header {
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.body {
  padding: 56px 0 10px;
  display: block;
}

.bodyHead {
  display: flex;
  margin-bottom: 20px;
  max-width: 598px;
  display: flex;
  flex-direction: column;
  padding: 0 3%;
  transition-delay: 1s;
  transition-duration: 0.75s;
}

.bodyTitle {
  margin-top: 4vw;
  font-size: 48px;
  font-weight: 900;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}

.bodyDesc {
  font-size: 19px;
  margin-top: 0.1vw;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition-delay: 0s;
  transition-duration: 0.75s;
  width: 100%;
}
