.headerContainer {
  background-color: #000;
  display: flex;
  height: 24px;
  justify-content: space-between;
  left: 0;
  padding: 16px 3%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.headerLogo {
  text-decoration: none;
}

.netflixLogo {
  display: block;
  width: 115px;
  height: 33px;
}

.netflixIcon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .headerText {
    display: none;
  }

  .netflixLogo {
    display: none;
  }

  .netflixIcon {
    display: block;
    width: 63%;
  }
}
