.movieCards {
  margin-top: 40px;
  position: relative;
}

.genreTitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 10px;
}

.genreList {
  margin: 0 2%;
}

.movieList {
  overflow-x: auto;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  margin: 16px 0;
  padding-bottom: 16px;
  width: 100%;
  overflow-x: scroll;
  list-style-type: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}
ul::-webkit-scrollbar {
  display: none;
}
.movieCard {
  max-width: 299px;
  display: inline-table;
  flex: 1 0 auto;
  list-style-type: none;
  margin: 0 12px 0 0;
}

.poster-image {
  width: 23vw;
  height: 15vw;
  max-height: 168px;
}

.movieTitle {
  margin-top: 2px;
  text-align: center;
}

.movieTitle a {
  text-decoration: none;
  color: #fff;
}

.arrowLeft,
.arrowRight {
  cursor: pointer;
  color: red;
  padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .arrowRight,
  .arrowLeft {
    display: none;
  }

  .poster-image {
    width: 40vw;
  }

  .genreTitle {
    margin-bottom: 0;
    font-size: 16px;
  }

  .movieTitle {
    font-size: 13px;
    width: 40vw;
  }

  ul {
    margin: 10px 0;
    padding-bottom: 0;
  }

  .movieCards {
    margin-top: 0;
  }

  .poster-image {
    height: 22vw;
  }

  .watchWrapper h2 {
    font-size: 27px;
  }

  .watchWrapper {
    padding: 10px;
  }

  .watchWrapper .btn {
    width: 100%;
  }
}
