.stream {
  display: flex;
  min-height: auto;
  padding: 4.5rem 0;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  width: 100vw;
}

.streamDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 38%;
}

.streamDescription > p:nth-child(1) {
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-bottom: 20px;
}

.streamDescription > p:nth-child(2) {
  font-size: 25px;
  color: white;
  margin-top: 2px;
}

.streamTvImage {
  position: relative;
  width: 38%;
  z-index: 1;
}

.streamImage {
  z-index: 2;
  width: 100%;
}

.streamVideo {
  position: absolute;
  width: 63%;
  height: 55%;
  object-fit: cover;
  z-index: -1;
  top: 10%;
  left: 18%;
}

@media only screen and (max-width: 768px) {
  .stream {
    flex-direction: column;
    align-items: center;
  }

  .streamDescription {
    width: 80%;
    align-items: center;
    text-align: center;
  }

  .streamDescription > p:nth-child(1) {
    font-size: 32px;
  }

  .streamDescription > p:nth-child(2) {
    font-size: 18px;
  }

  .streamTvImage {
    width: 80%;
    margin-top: 50px;
  }
}
